body {
    margin: 10px;
    box-sizing: border-box;
}

.container-1 {
    height: 100px;
    width: 150px;
    border: 5px solid black;
    background-color: red;
    margin: 20px;
}

.row-2 {
    display: flex;
    flex-direction: row;
}

.container-2 {
    height: 100px;
    width: 150px;
    border: 5px double black;
    background-color: red;
    margin: 20px;
}

.container-3 {
    height: 100px;
    width: 150px;
    border: 5px dashed black;
    background-color: red;
    margin: 20px;
}

.row-3 {
    display: flex;
    flex-direction: row;
    float: bottom;
}

.container-4 {
    height: 100px;
    width: 150px;
    border: 5px dotted black;
    background-color: red;
    margin: 20px;
}

.container-5 {
    height: 100px;
    width: 150px;
    border: 5px solid black;
    background-color: red;
    margin: 20px;
    border: hidden;
}

.container-6 {
    margin: 20px;
    background-color: purple;
    padding: 30px 20px;

}

.nested-container-6 {
    background-color: red;
    padding: 20px;
    border-style: solid;
    border-width: 20px;
    border-top-color: rgb(6, 6, 175);
    border-right-color: rgb(104, 104, 104);
    border-bottom-color: rgb(255, 251, 0);
    border-left-color: rgb(21, 117, 1);

}